#cardOfHome{
    background-color: #972323;
    max-height: "85%";
    width: "18%";
    background-color: "#B2BEB5";
    border-radius: "20px";
    border-radius:inherit;
    
}

/* #cardOfHome #homeImage{
    background-color: #38bbbb;
    min-height: 100%;
    min-width: 100%;
    border-radius: inherit;

} */

#cardOfHome #homeImage img{
    height: 350px;
    width: 100%;
    border-radius: inherit;
}

#cardOfHome:hover #recomHomeHOver{
    visibility: visible;
}

#recomHomeHOver{
    background-color: #145192fe;
    min-height: 110%;
    width: 100%;
    border-radius: inherit;
    font-weight: 900;
    visibility: hidden;
    color: #43ce81;
}
