body,html{
  margin:20px 50px;
  background-image: linear-gradient(to right, #F6F5F2,#F0EBE3,#F3D0D7,#FFEFEF);
  background-color: #f7f7f7;
  max-height: 100vh;
  max-width: 100vw;
}

*::selection{
  background-color: black;
  color: #f7f7f7;
}