*{
    padding:0;
    margin:0
}
html,body{
    background-color: black;
    height: 100%;
    width: 100%;
    color: white;
}

main{
    position: absolute;
    top:10%;
    left: 25%;
}

main #user{
    height : 500px;
    width : 500px;
    background-color: #336e33;
}

