#section1{
    min-height: 100vh;
    width: 100%;
    background-color: #f7f7f7;
}

#sc1ar1{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 15vh;
}

#sc1ar1 h1{
    font-size: 3rem;
}

#as1{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 15vh;
}
#as1 #as1p1{
    height: 2px;
}
#as1 #as1p2{
    height: 10px;
}
#as1 #as1p1,#as1p2 p{
    font-size: small;
}

#sc1ar2 hr{
    position: relative;
    top:15.5vh;
   height: 5px;
   color: black;
}

#p1{
    position: relative;
    top: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#card-sec1{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 230px;
    min-width: 230px;
    background-color: black;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}
#card-sec1:nth-child(5){
    margin-left: 0px;
}

#sec1cardImg{
    position: relative;
    height: 200px;
    width: 200px;
    background-color: blue;
    border-radius: 20px;
}

#sec1cardImg img{
    height: 100%;
    width: 100%;
    object-fit:fill;
    border-radius: 20px;
}

#p1 button{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 50px;
    width: 50px;
    font-size: 30px;
    border-radius: 10px;
    font-weight: 800;
    color: #1166c2;
}